.tablePoint {
    width: 100%;
    th {
        color: #5E5E5E;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 13px;
    }
    tr:last-child {
        border: none;
    }
    td {
        padding-top: 4px;
        padding-bottom: 4px;
    }
}