.roundContainer {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    width: 46px;
    min-width: 460px;
    background: linear-gradient(180deg,#fafafa,#fff);
}


.tournament_drawMatchTable {
    position: relative;
    border: 2px solid #ececec;
    transition: border .4s ease;
}

.tournament_drawMatchTable::before {
    content: "";
    position: absolute;
    height: 2px;
    background: #ccc;
    right: -28px;
    width: 15px;
}

.tournament_drawMatchTable::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    right: -15px;
    width: 11px;
    border: 2px solid #ccc;
    border-bottom: none;
    border-left: none;
    z-index: 0;
}

.tournament_drawMatchTable .matchTable {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.04);
    position: relative;
    width: 100%;
    max-width: 100%;
}

.matchTable {
    width: 100%;
    background-color: #fff;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 0 auto;
}

.matchTable tr {
    border-bottom: 2px solid #ececec;
    transition: background-color .4s ease;
}

.matchTable tr:first-child th{
    border-left-color: #00bc59;
}

.matchTable th {
    height: 52px;
    border-left: 4px solid #141414;
    padding: 0 16px 0 14px;
    position: relative;
    width: 100%;
}

.matchTable td {
    transition: background-color .4s ease;
    color: #141414;
    font-weight: 900;
    width: 42px;
    text-align: center;
    font-size: 14px;
    line-height: .84;
}

.matchTable td:nth-last-of-type(odd) {
    background-color: #f2f2f2;
}
