.bgTwoColorVertical {
    background: linear-gradient(90deg, #ffffff 50%, #2DA46B 50%);
    @media all and (max-width: 768px) {
        background: #2DA46B;
      }
}

.bgTwoColorHorizontal {
    display: flex;
    justify-content: end;
    background: linear-gradient(to bottom, #2DA46B 0, #2DA46B 35%, #FFFFFF 35%, #FFFFFF 37%, #E6E6E6 37%, #E6E6E6 100%);
    @media all and (max-width: 768px) {
      background: linear-gradient(to bottom, #2DA46B 0, #2DA46B 50%, #FFFFFF 50%, #FFFFFF 52%, #E6E6E6 52%, #E6E6E6 100%);
    }
}

.btnRankActive {
    background-color: #FFFFFF;
    color: #2DA46B;
    width: 60px;
    font-weight: bold;
    font-size: smaller;
    border-bottom: 4px;
    border-style: solid;
    border-color: white;
    padding-bottom: 0px !important;
}

.btnRankActivePointRed {
    background-color: #FFFFFF;
    color: #2DA46B;
    width: 60px;
    font-weight: bold;
    font-size: smaller;
    border-bottom: 4px;
    border-style: solid;
    border-color: #d70a0ad9;
    padding-bottom: 0px !important;
}

.btnRankActivePointBlue {
    background-color: #FFFFFF;
    color: #2DA46B;
    width: 60px;
    font-weight: bold;
    font-size: smaller;
    border-bottom: 4px;
    border-style: solid;
    border-color: #0555e4d9;
    padding-bottom: 0px !important;
}

.btnRank {
    background-color: #2DA46B;
    color: #FFFFFF;
    width: 60px;
    font-weight: bold;
    font-size: smaller;
    border: 1.5px solid white;
}

